body{
    width: 80%;
    margin: auto;
    background-color: rgba(138, 230, 167, 90);
}

.logo{
    position: absolute;
    max-width: 80px;
    padding-left: 1%;
    padding-top: 40px;
}

.title{
    padding-left: 25%;
    padding-top: 10%;
    margin: auto;
    margin-left: 10%;
}

.title2{
    padding-left: 25%;
    padding-top: 1%;
    margin: auto;
    margin-left: 10%;
}

#iniciarJuego{
    width: 45%;
    padding: 15px;
    display: block;
    font-size: 18px;    
    font-weight: bold;
    color: black;
    background: rgba(139, 252, 207, 99);
    border: none;
    border-radius: 10px;
    transition: 400ms;
    cursor: pointer;
    margin: auto;
    margin-top: 4em;
}

#iniciarJuego:hover{
    background: rgb(133, 242, 229, 95);
    transform: scale(1.2) rotate(5deg);
}

#nuevaPalabra{
    width: 35%;
    padding: 10px;
    display: block;
    font-size: 14px;    
    font-weight: bold;
    color: black;
    background: rgba(295, 235, 150, 92);
    border: none;
    border-radius: 10px;
    transition: 400ms;
    cursor: pointer;
    margin: auto;
    margin-top: 4em;
}

#nuevaPalabra:hover{
    background: rgb(296, 285, 143, 96);
    transform: scale(1.2) rotate(5deg);
}